{% extends "base.html" %}
{% block title %}Favorites - Chenchu{% endblock %}
{% block content %}

<div class="music-section">
  <div class="album-grid">
    <a href="https://open.spotify.com/album/4oL7pMxnb04uuRI7ReXmuh" target="_blank" class="album-card">
      <img src="{{ url_for('static', filename='images/WhoReallyCars_TvGirl.jpg') }}">
    </a>

    <a href="https://open.spotify.com/album/2sij95QgjmgrhNv33achzn" target="_blank" class="album-card">
      <img src="{{ url_for('static', filename='images/SaladDays_MarcDeMarco.jpg') }}">
    </a>

    <a href="https://open.spotify.com/album/65edimIChzNNK8VGn56pIK" target="_blank" class="album-card">
      <img src="{{ url_for('static', filename='images/Nectar_Joji.jpg') }}">
    </a>

    <a href="https://open.spotify.com/album/0Q5XBpCYFgUWiG9DUWyAmJ" target="_blank" class="album-card">
      <img src="{{ url_for('static', filename='images/ScaledandIcy_21_pilots.jpg') }}">
    </a>
  </div>
</div>

{% endblock %}
